* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #F8F9FA;

}

::placeholder,
:-ms-input-placeholder,
::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #BDBDBD;
}

@mixin button-style {

    border-radius: 5px;
    background-color: #62A1FE;
    color: white;
    font-family: roboto;
    font-size: 12px;
    font-weight: lighter;
    border-style: hidden;

}

@mixin puzzle {
    width: 60px;
    height: auto;
    
}