.entete__signup-logo {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    & .entete__logo {
        font-family: inter;
        font-weight: bold;
        font-size: 14px;
        margin-left: 5%;
        padding: 8px;
    }

    
}